{% extends "partial/base.html" %}
{% load static %}

<!-- start navbar -->
{% block navbar %}
{% include "partial/nav-three.html" %}
{% endblock navbar %}
<!-- end navbar -->

{% block content %}
<!--================= Banner Section End  Here =================-->
<div class="hero4__area pt-160 pb-150 md-pt-90">
    <div class="hero4__shape">
        <img class="hero4__shape-1" src="{% static 'images/hero/04.png' %}" alt="Banner shape image">
        <img class="hero4__shape-2" src="{% static 'images/hero/05.png' %}" alt="Banner shape image">
        <img class="hero4__shape-3" src="{% static 'images/hero/shape_03.png' %}" alt="Banner shape image">
        <img class="hero4__shape-4" src="{% static 'images/hero/shape_04.png' %}" alt="Banner shape image">
        <img class="hero4__shape-5" src="{% static 'images/hero/shape_05.png' %}" alt="Banner shape image">
    </div>
    <div class="container hero4__width">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="hero4__content">
                    <h1 class="hero4__title">Your Next <br> Online Archive</h1>
                    <p class="hero4__paragraph">Online learning you can access anywhere easily.</p>
                    <div class="event__video-btn--plays">
                        <a href="coureses-single" class="hero4-btn">Get Started</a>
                        <a href="https://www.youtube.com/watch?v=e5Hc2B50Z7c" class="event__videos custom-popup">
                            <i class="arrow_triangle-right"></i>
                            <em>Watch video</em>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="hero4__image">
                    <img class="hero4__image-1" src="{% static 'images/hero/02.png' %}"
                        alt="The girl are pointing to the left side">
                    <img class="hero4__image-2" src="{% static 'images/hero/03.png' %}"
                        alt="The boy are grabbing some books">
                </div>
            </div>
        </div>
    </div>
</div>
<!--================= Banner Section End  Here =================-->

<!--=================  Popular Topics Section Start Here ================= -->
<div class="react_populars_topics react_populars_topics2 pt---100 pb---100">
    <div class="container">
        <div class="react__title__section react__title__section-all">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h6>Echooling available courses</h6>
                    <h2 class="react__tittle"> Online Coaching Lessons For <br>Remote Learning </h2>
                </div>
            </div>

        </div>
        <div class="row pt---30">
            <div class="col-md-4">
                <div class="item__inner">
                    <div class="icon">
                        <img src="{% static 'images/topics/icon.svg' %}" alt="Icon image">
                    </div>
                    <div class="react-content">
                        <h3 class="react-title"><a href="coureses-grid">Accredited Campus</a></h3>
                        <p>Nulla porttitor accumsan tincidunt. vamus <br>magna justo, lacinia eget consectetur sed,
                            <br>convallis at tellus.</p>
                        <a href="#"> Learn More <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item__inner">
                    <div class="icon">
                        <img src="{% static 'images/topics/icon2.svg' %}" alt="Icon image">
                    </div>
                    <div class="react-content">
                        <h3 class="react-title"><a href="coureses-grid">Best Quality Graduate</a></h3>
                        <p>Nulla porttitor accumsan tincidunt. vamus <br>magna justo, lacinia eget consectetur sed,
                            <br>convallis at tellus.</p>
                        <a href="#"> Learn More <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item__inner">
                    <div class="icon">
                        <img src="{% static 'images/topics/icon3.svg' %}" alt="Icon image">
                    </div>
                    <div class="react-content">
                        <h3 class="react-title"><a href="coureses-grid">Inspiring Student Life</a></h3>
                        <p>Nulla porttitor accumsan tincidunt. vamus <br>magna justo, lacinia eget consectetur sed,
                            <br>convallis at tellus.</p>
                        <a href="#"> Learn More <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================  Popular Topics Section End Here ================= -->

<!--=================  About Section Start Here ================= -->
<div class="about__area about2__area about3__area p-relative pb---60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about__image">
                    <img class="react__shape__1" src="{% static 'images/about/shape_02.png' %}" alt="Shape Image">
                    <img src="{% static 'images/about/ab3.png' %}" alt="About">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__content">
                    <h6>About Us</h6>
                    <h2 class="about__title">The quickest and <br>Effected way for Learing</h2>
                    <p class="about__paragraph">Why I say old chap that is spiffing in my flat such a fibber<br> mufty
                        mush, porkies barney pukka only a quid a what a<br> load of rubbish good time.</p>
                    <ul>
                        <li><i class="icon_check"></i> Access more then 100K online courses</li>
                        <li><i class="icon_check"></i> Upskill your organization. </li>
                    </ul>
                    <div class="about__btn">
                        <a href="about"> Read More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================= About Section End Here ================= -->

<!--=================  Featured Section Start Here ================= -->
<div class="react_featured_online pt---100 pb---110">
    <div class="container">
        <div class="react__title__section-all">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h6>Education for Everyone</h6>
                    <h2 class="react__tittle">Featured Online Courses</h2>
                </div>
            </div>
        </div>
        <div class="row pt---30">
            <div class="col-md-6">
                <div class="item__inner">
                    <div class="icon">
                        <img src="{% static 'images/featured/1.png' %}" alt="Icon image">
                    </div>
                    <div class="react-content">
                        <h5 class="price">$76.00</h5>
                        <h3><a href="#">The Most Complete Design <br> Thinking Course On The Market.</a></h3>
                        <ul class="react-lessones">
                            <li class="react-book"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg> 66 Lessones</li>
                            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg> 49 Students </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item__inner">
                    <div class="icon">
                        <img src="{% static 'images/featured/2.png' %}" alt="Icon image">
                    </div>
                    <div class="react-content">
                        <h5 class="price">$95.00</h5>
                        <h3><a href="#">Learn Essentials of User Interface <br> Design in Figma.</a></h3>
                        <ul class="react-lessones">
                            <li class="react-book"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg> 46 Lessones</li>
                            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg> 32 Students </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item__inner">
                    <div class="icon">
                        <img src="{% static 'images/featured/3.png' %}" alt="Icon image">
                    </div>
                    <div class="react-content">
                        <h5 class="price">$49.00</h5>
                        <h3><a href="#">Consulting Approach to Problem <br>Solving Working</a></h3>
                        <ul class="react-lessones">
                            <li class="react-book"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg> 96 Lessones</li>
                            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg> 39 Students </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item__inner">
                    <div class="icon">
                        <img src="{% static 'images/featured/4.png' %}" alt="Icon image">
                    </div>
                    <div class="react-content">
                        <h5 class="price">$99.00</h5>
                        <h3><a href="#">Find Music Category inside <br>your Soula</a></h3>
                        <ul class="react-lessones">
                            <li class="react-book"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg> 16 Lessones</li>
                            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg> 18 Students </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item__inner">
                    <div class="icon">
                        <img src="{% static 'images/featured/5.png' %}" alt="Icon image">
                    </div>
                    <div class="react-content">
                        <h5 class="price">$36.00</h5>
                        <h3><a href="#">Business Approach to Problem<br> Solving Banner</a></h3>
                        <ul class="react-lessones">
                            <li class="react-book"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg> 26 Lessones</li>
                            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg> 39 Students </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item__inner">
                    <div class="icon">
                        <img src="{% static 'images/featured/6.png' %}" alt="Icon image">
                    </div>
                    <div class="react-content">
                        <h5 class="price">$85.00</h5>
                        <h3><a href="#">Successful Negotiation: Master <br> Your Negotiating Skills</a></h3>
                        <ul class="react-lessones">
                            <li class="react-book"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg> 26 Lessones</li>
                            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg> 19 Students </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="#" class="border-btns"> View All Course <svg xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <polyline points="12 5 19 12 12 19"></polyline>
                </svg></a>
        </div>
    </div>
</div>
<!--=================  Featured Section End Here ================= -->

<!--=================  Video Section Start Here ================= -->
<div class="high_quality-section pt---110 pb---120">
    <div class="container">
        <div class="react__title__section-all">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h6>Live Class</h6>
                    <h2 class="react__tittle">High quality video,audio <br>& live class</h2>
                </div>
            </div>
        </div>
        <div class="react-tab-gird">
            <div class="tab-content text-center">
                <img class="shape__1" src="{% static 'images/tab/shape_01.png' %}" alt="image">
                <img class="shape__2" src="{% static 'images/tab/shape_02.png' %}" alt="image">
                <img class="shape__3" src="{% static 'images/tab/shape_03.png' %}" alt="image">
                <div class="tab-pane active" id="home">
                    <iframe width="970" height="576" src="https://www.youtube.com/embed/e5Hc2B50Z7c"
                        title="YouTube video player" allow="accelerometer"></iframe>
                </div>
                <div class="tab-pane" id="profile">
                    <iframe width="970" height="576" src="https://www.youtube.com/embed/e5Hc2B50Z7c"
                        title="YouTube video player" allow="accelerometer"></iframe>
                </div>
                <div class="tab-pane" id="messages">
                    <iframe width="970" height="576" src="https://www.youtube.com/embed/e5Hc2B50Z7c"
                        title="YouTube video player" allow="accelerometer"></iframe>
                </div>
                <div class="tab-pane" id="settings">
                    <iframe width="970" height="576" src="https://www.youtube.com/embed/e5Hc2B50Z7c"
                        title="YouTube video player" allow="accelerometer"></iframe>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item active">
                    <a class="nav-link active" href="#home" aria-controls="home" data-bs-toggle="tab">
                        <em class="icon"><img src="{% static 'images/tab/4.png' %}" alt="image"></em>
                        <em class="text">Audio Classes</em>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#profile" aria-controls="profile" data-bs-toggle="tab">
                        <em class="icon"><img src="{% static 'images/tab/2.png' %}" alt="image"></em>
                        <em class="text">Live Classes</em>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#messages" aria-controls="messages" data-bs-toggle="tab">
                        <em class="icon"><img src="{% static 'images/tab/1.png' %}" alt="image"></em>
                        <em class="text">Recorded Class</em>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#settings" aria-controls="settings" data-bs-toggle="tab">
                        <em class="icon"><img src="{% static 'images/tab/3.png' %}" alt="image"></em>
                        <em class="text">Educator Support</em>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--=================  Video Section End Here ================= -->

<!--=================  Satisfaction Section Start Here ================= -->
<div class="student_satisfaction-section pt---100 pb---120">
    <div class="container">
        <div class="react__title__section-all pb---30">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h6>Student Satisfaction</h6>
                    <h2 class="react__tittle">Student Community <br>Feedback</h2>
                </div>
            </div>
        </div>
        <div class="feedreact-slider owl-carousel">
            <div class="event__card">
                <div class="event__card--content">
                    <div class="event__card--content-area">
                        <div class="testimonial__ratings">
                            <em class="icon_star"></em>
                            <em class="icon_star"></em>
                            <em class="icon_star"></em>
                            <em class="icon_star"></em>
                            <em class="icon_star_alt"></em>
                            <span> (14 Reviews) </span>
                        </div>
                        <div class="parag">We are a Portsmouth based web design and e-marketing agency. We understand
                            how important a website is to any business, big or small. Your online presence is now more
                            important than ever before.</div>
                    </div>
                    <img class="poly" src="{% static 'images/testimonial/poly.png' %}" alt="image">
                </div>
                <div class="author-sec">
                    <div class="icon">
                        <img src="{% static 'images/testimonial/1.png' %}" alt="image">
                    </div>
                    <div class="text">
                        <h4>Pelican Steve</h4>
                        <p>Student</p>
                    </div>
                </div>
            </div>
            <div class="event__card">
                <div class="event__card--content">
                    <div class="event__card--content-area">
                        <div class="testimonial__ratings">
                            <em class="icon_star"></em>
                            <em class="icon_star"></em>
                            <em class="icon_star"></em>
                            <em class="icon_star"></em>
                            <em class="icon_star_alt"></em>
                            <span> (18 Reviews) </span>
                        </div>
                        <div class="parag">We are a Portsmouth based web design and e-marketing agency. We understand
                            how important a website is to any business, big or small. Your online presence is now more
                            important than ever before.</div>
                    </div>
                    <img class="poly" src="{% static 'images/testimonial/poly.png' %}" alt="image">
                </div>
                <div class="author-sec">
                    <div class="icon">
                        <img src="{% static 'images/testimonial/2.png' %}" alt="image">
                    </div>
                    <div class="text">
                        <h4>Chase Kroll</h4>
                        <p>IT Specialist</p>
                    </div>
                </div>
            </div>
            <div class="event__card">
                <div class="event__card--content">
                    <div class="event__card--content-area">
                        <div class="testimonial__ratings">
                            <em class="icon_star"></em>
                            <em class="icon_star"></em>
                            <em class="icon_star"></em>
                            <em class="icon_star"></em>
                            <em class="icon_star_alt"></em>
                            <span> (26 Reviews) </span>
                        </div>
                        <div class="parag">We are a Portsmouth based web design and e-marketing agency. We understand
                            how important a website is to any business, big or small. Your online presence is now more
                            important than ever before.</div>
                    </div>
                    <img class="poly" src="{% static 'images/testimonial/poly.png' %}" alt="image">
                </div>
                <div class="author-sec">
                    <div class="icon">
                        <img src="{% static 'images/testimonial/3.png' %}" alt="image">
                    </div>
                    <div class="text">
                        <h4>Jackson Pot</h4>
                        <p>Teacher</p>
                    </div>
                </div>
            </div>
            <div class="event__card">
                <div class="event__card--content">
                    <div class="event__card--content-area">
                        <div class="testimonial__ratings">
                            <em class="icon_star"></em>
                            <em class="icon_star"></em>
                            <em class="icon_star"></em>
                            <em class="icon_star"></em>
                            <em class="icon_star_alt"></em>
                            <span> (14 Reviews) </span>
                        </div>
                        <div class="parag">We are a Portsmouth based web design and e-marketing agency. We understand
                            how important a website is to any business, big or small. Your online presence is now more
                            important than ever before.</div>
                    </div>
                    <img class="poly" src="{% static 'images/testimonial/poly.png' %}" alt="image">
                </div>
                <div class="author-sec">
                    <div class="icon">
                        <img src="{% static 'images/testimonial/1.png' %}" alt="image">
                    </div>
                    <div class="text">
                        <h4>Pelican Steve</h4>
                        <p>Student</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="count__area2 pb---100">
        <div class="container">
            <ul class="row">
                <li class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="count__content">
                        <div class="icon">
                            <img src="{% static 'images/counter/1.png' %}" alt="image">
                        </div>
                        <div class="text">
                            <span class="count__content-title counter">28</span><em>k</em>
                            <p class="count__content">Foreign followers</p>
                        </div>
                    </div>
                </li>
                <li class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="count__content">
                        <div class="icon">
                            <img src="{% static 'images/counter/2.png' %}" alt="image">
                        </div>
                        <div class="text">
                            <span class="count__content-title counter">10</span><em>k</em>
                            <p class="count__content">Classes complete</p>
                        </div>
                    </div>
                </li>
                <li class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="count__content">
                        <div class="icon">
                            <img src="{% static 'images/counter/3.png' %}" alt="image">
                        </div>
                        <div class="text">
                            <span class="count__content-title counter">208</span><em>k</em>
                            <p class="count__content"> Students enrolled</p>
                        </div>
                    </div>
                </li>
                <li class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="count__content">
                        <div class="icon">
                            <img src="{% static 'images/counter/4.png' %}" alt="image">
                        </div>
                        <div class="text">
                            <span class="count__content-title counter">54</span><em>k</em>
                            <p class="count__content">Certified teachers</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--=================  Satisfaction Section End Here ================= -->
{% endblock content %}

{% block footer %}
{% include "partial/footer-two.html" %}
{% endblock footer %}
<!-- end footer -->