{% extends "partial/base-two.html" %}
{% load static %}


{% block content %}
<!-- start navbar -->
{% block navbar %}
{% include "partial/nav-five.html" %}
{% endblock navbar %}
<!-- end navbar -->
<!--=================  Banner Start Here  =================-->
<div class="banner home-five">
    <div class="container">
        <div class="row  align-center">
            <div class="col-xl-6">
                <div class="contents">
                    <span class="banner-pretitle">HI, I’M ROBERT JOHNSON</span>
                    <h1 class="banner-title">Move Your Soul, Shape Your Future.</h1>
                    <p>If you are not ready to attempt the stock, you will have to pay for the standard.</p>
                    <button class="started-btn"><a href="signup">Get Started for Free</a></button>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="hero-part d-flex justify-content-center">
                    <div class="hero"><img src="{% static 'images/home5/hero.png' %}" alt="hero"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================  Banner End Here  =================-->

<!--=================  Services Start Here  =================-->
<div class="services-section home-five pt---120 pb---120">
    <div class="container">
        <div class="service-top-contents">
            <div class="row justify-content-between align-center">
                <div class="col-xl-6">
                    <div class="section-title-area home-five">
                        <div class="section-pretitle">WHAT I DO</div>
                        <div class="section-title">I'm a Life Coach & Personal Development Mentor in Echooling.
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="details">
                        <span class="top-detail"><span class="hightlight">I understand what it takes to
                                create.</span> I can help you. Saepe pariatur Consefit
                            quatur? Natus! Iste penatibus, imperdiet veniam.</span>

                        <span class="bottom-detail">Nullam, maecenas? Justo, sodales. Perferendis, maecenas
                            convallis diamlorem
                            officia
                            aliqua justo gravida debitis! Explicabo ipsum natoque convallis. Taciti odit. Id
                            corporis? Augue integer! Quasi malesuada proin laboris, tincidunt
                            inceptos.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-bottom-contents">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-3 col-md-6 justify-content-center">
                    <div class="service-item">
                        <div class="service-item-icon"><img src="{% static 'images/home5/services/setting.png' %}"
                                alt="sevice-icon">
                        </div>
                        <span class="service-item-title">Self Developement</span>
                        <p>Jullam, maecenas justod sodales. Officia alqua justo gravida debit
                            cditi odit corporis dugue.</p>
                        <div class="learn-more"><a href="about">Learn More</a><i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="service-item">
                        <div class="service-item-icon"><img src="{% static 'images/home5/services/ask.png' %}"
                                alt="sevice-icon"></div>
                        <span class="service-item-title">Ask Consultance</span>
                        <p>Dullam, maecenas justod sodales. Officia alqua justo gravida debit
                            cditi odit corporis dugue.</p>
                        <div class="learn-more"><a href="about">Learn More</a><i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="service-item">
                        <div class="service-item-icon"><img src="{% static 'images/home5/services/tv.png' %}"
                                alt="sevice-icon">
                        </div>
                        <span class="service-item-title">Remote Learing</span>
                        <p>Lullam, maecenas justod sodales. Officia alqua justo gravida debit
                            cditi odit corporis dugue.</p>
                        <div class="learn-more"><a href="about">Learn More</a><i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="service-item">
                        <div class="service-item-icon"><img src="{% static 'images/home5/services/flag.png' %}"
                                alt="sevice-icon">
                        </div>
                        <span class="service-item-title">Life Mentoring</span>
                        <p>Oullam, maecenas justod sodales. Officia alqua justo gravida debit
                            cditi odit corporis dugue.</p>
                        <div class="learn-more"><a href="about">Learn More</a><i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================  Services End Here  =================-->


<!--=================  About Start Here  =================-->
<div class="about-section home-five pt---120 pb---120">
    <div class="container">
        <div class="section-title-area home-five text-center">
            <div class="section-pretitle">START YOUR JOURNEY AT ME</div>
            <div class="section-title">Why You Can Choose Me
            </div>
        </div>
        <div class="row justify-content-between align-center">
            <div class="col-xl-6">
                <div class="about-hero"><img src="{% static 'images/home5/about.png' %}" alt="about-hero"></div>
            </div>
            <div class="col-xl-6">
                <div class="about-cards">
                    <div class="about-card-item">
                        <div class="card-item-icon"><img src="{% static 'images/home5/check-icon.png' %}"
                                alt="about-hero-card">
                        </div>
                        <div class="content">
                            <span class="card-title">A Classical Education for the Future.</span>
                            <p>Darum sit curabitur cum iure voluptate, nostra vivamus neque! ollitia luctus conse
                                bola tetuer? ortor modi, perspiciatis ravida quasi.</p>
                        </div>
                    </div>
                </div>
                <div class="about-cards">
                    <div class="about-card-item">
                        <div class="card-item-icon"><img src="{% static 'images/home5/check-icon.png' %}"
                                alt="about-hero-card">
                        </div>
                        <div class="content">
                            <span class="card-title">Education is About Creating Leaders for Tomorrow.</span>
                            <p>Barum sit curabitur cum iure voluptate, nostra vivamus neque! ollitia luctus conse
                                bola tetuer? ortor modi, perspiciatis ravida quasi.</p>
                        </div>
                    </div>
                </div>
                <div class="about-cards">
                    <div class="about-card-item">
                        <div class="card-item-icon"><img src="{% static 'images/home5/check-icon.png' %}"
                                alt="about-hero-card">
                        </div>
                        <div class="content">
                            <span class="card-title">A Better Learning Future Starts Here.</span>
                            <p>Oarum sit curabitur cum iure voluptate, nostra vivamus neque! ollitia luctus conse
                                bola tetuer? ortor modi, perspiciatis ravida quasi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================  About End Here  =================-->


<!--=================  Journey Start Here  =================-->
<div class="journey-section home-five pt---120 pb---120">
    <div class="container">
        <div class="section-title-area text-center home-five mb---50">
            <div class="section-pretitle">BEGIN YOUR JOURNEY AT ECHOOLING</div>
            <div class="section-title">How Can I Help You
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="journey-card">
                    <div class="journey-card-picture"><a href="coureses-grid"><img
                                src="{% static 'images/home5/journey/1.png' %}" alt="card-picture"></a></div>
                    <div class="journey-contents">
                        <span class="lessons">100+ Lessons</span>
                        <div class="card-title"><a href="coureses-grid">Self Development</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="journey-card">
                    <div class="journey-card-picture"><a href="coureses-grid"><img
                                src="{% static 'images/home5/journey/2.png' %}" alt="card-picture"></a></div>
                    <div class="journey-contents">
                        <span class="lessons">100+ Lessons</span>
                        <div class="card-title"><a href="coureses-grid">Consulting Courses</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="journey-card">
                    <div class="journey-card-picture"><a href="coureses-grid"><img
                                src="{% static 'images/home5/journey/3.png' %}" alt="card-picture"></a></div>
                    <div class="journey-contents">
                        <span class="lessons">100+ Lessons</span>
                        <div class="card-title"><a href="coureses-grid">Lifetime Support</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="journey-card">
                    <div class="journey-card-picture"><a href="coureses-grid"><img
                                src="{% static 'images/home5/journey/4.png' %}" alt="card-picture"></a></div>
                    <div class="journey-contents">
                        <span class="lessons">100+ Lessons</span>
                        <div class="card-title"><a href="coureses-grid">Coaching Class</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================  Journey End Here  =================-->


<!--=================  Coaching Start Here  =================-->
<div class="coaching-section home-five">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-6 col-lg-12 p-0">
                <div class="coaching-hero"><img src="{% static 'images/home5/smiling-man.png' %}" alt="coaching-hero">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="coaching-contents">
                    <div class="section-title-area home-five">
                        <div class="section-pretitle">Everything in Time With Schooling</div>
                        <div class="section-title">Online Coaching Lessons For Personal Learning.
                        </div>
                    </div>
                    <p>Ex adipisicing adipiscing, nemo urna ducimus asperiores, doloribus natus, earum non eaque
                        officiis! Quae accusamus accumsan, quis quam fugiat, incididunt? Mauris magnis distinctio
                        lectus. Ex adipisicing adipiscing, nemo urna ducimus asperiores, doloribuunt.</p>
                    <div class="coaching-counter">
                        <span class="counter-item"><span class="counter">1973</span><span class="sub-span">+</span>
                            <p>Enrolled Learners</p>
                        </span>
                        <span class="counter-item"><span class="counter primary-color">9317</span><span
                                class="sub-span primary-color">+</span>
                            <p>Finished Sessions</p>
                        </span>
                        <span class="counter-item"><span class="counter">100</span><span class="sub-span">%</span>
                            <p>Satisfaction Rate</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================  Coaching End Here  =================-->


<!--=================  Pricing Start Here  =================-->
<div class="pricing-section home-five mt---120 pt---120">
    <div class="pricing-section-header-bg"></div>
    <div class="container">
        <div class="section-title-area home-five text-center">
            <div class="section-pretitle">I’M OFFER 3 UNIQUE PRICING PLANS</div>
            <div class="section-title">Pricing & Offerings Plan
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6">
                <div class="price-card">
                    <div class="price-plan">
                        <div class="contents">
                            <div class="plan-type">PREMIUM PLAN</div>
                            <div class="price">$150</div>
                            <div class="validity">/Billed per year</div>
                        </div>
                    </div>
                    <div class="price-details">
                        <div class="item"><span class="course">0-10 Courses</span> <span class="value">500$</span>
                        </div>
                        <div class="item"><span class="course">0-10 Courses</span> <span class="value">500$</span>
                        </div>
                        <div class="item"><span class="course">0-10 Courses</span> <span class="value">500$</span>
                        </div>
                        <button class="price-btn"><a href="coureses-single">GET STARTED</a></button>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="price-card">
                    <div class="price-plan">
                        <div class="contents">
                            <div class="plan-type">PREMIUM PLAN</div>
                            <div class="price">$150</div>
                            <div class="validity">/Billed per year</div>
                        </div>
                        <div class="popular-plan">Most Popular Plan</div>
                    </div>
                    <div class="price-details">
                        <div class="item"><span class="course">0-10 Courses</span> <span class="value">500$</span>
                        </div>
                        <div class="item"><span class="course">0-10 Courses</span> <span class="value">500$</span>
                        </div>
                        <div class="item"><span class="course">0-10 Courses</span> <span class="value">500$</span>
                        </div>
                        <button class="price-btn"><a href="coureses-single">GET STARTED</a></button>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="price-card">
                    <div class="price-plan">
                        <div class="contents">
                            <div class="plan-type">PREMIUM PLAN</div>
                            <div class="price">$150</div>
                            <div class="validity">/Billed per year</div>
                        </div>
                    </div>
                    <div class="price-details">
                        <div class="item"><span class="course">0-10 Courses</span> <span class="value">500$</span>
                        </div>
                        <div class="item"><span class="course">0-10 Courses</span> <span class="value">500$</span>
                        </div>
                        <div class="item"><span class="course">0-10 Courses</span> <span class="value">500$</span>
                        </div>
                        <button class="price-btn"><a href="coureses-single">GET STARTED</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================  Pricing End Here  =================-->


<!--=================  Trending Start Here  =================-->
<div class="trending-section-five home-five pt---120 pb---120">
    <div class="container">
        <div class="section-title-area home-five text-center mb---70">
            <div class="section-pretitle">ECHOOLING AVAILABLE COURSES</div>
            <div class="section-title">Trending Online Course
            </div>
        </div>
        <div class="swiper trendingSlider-5">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="trending-card">
                        <div class="card-image"><a href="coureses-grid"><img
                                    src="{% static 'images/home5/trending/1.png' %}" alt="card-image"></a></div>
                        <div class="price-tag">
                            <span class="dollars">$59</span>
                            <span class="cents">.99</span>
                        </div>
                        <div class="contents">
                            <div class="status">
                                <span class="students"><i class="fa-regular fa-user"></i>50 Students</span>
                                <span class="lessons"><i class="fa-regular fa-file-lines"></i>19 Lessons</span>
                            </div>
                            <span class="card-title"><a href="coureses-grid">How to be Victorious: Make A
                                    Change Perspective For Victory</a></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trending-card">
                        <div class="card-image"><a href="coureses-grid"><img
                                    src="{% static 'images/home5/trending/2.png' %}" alt="card-image"></a></div>
                        <div class="price-tag">
                            <span class="dollars">$59</span>
                            <span class="cents">.99</span>
                        </div>
                        <div class="contents">
                            <div class="status">
                                <span class="students"><i class="fa-regular fa-user"></i>50 Students</span>
                                <span class="lessons"><i class="fa-regular fa-file-lines"></i>19 Lessons</span>
                            </div>
                            <span class="card-title"><a href="coureses-grid">Available Programming Techniques
                                    for Everyone Python</a></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trending-card">
                        <div class="card-image"><a href="coureses-grid"><img
                                    src="{% static 'images/home5/trending/3.png' %}" alt="card-image"></a></div>
                        <div class="price-tag">
                            <span class="dollars">$59</span>
                            <span class="cents">.99</span>
                        </div>
                        <div class="contents">
                            <div class="status">
                                <span class="students"><i class="fa-regular fa-user"></i>50 Students</span>
                                <span class="lessons"><i class="fa-regular fa-file-lines"></i>19 Lessons</span>
                            </div>
                            <span class="card-title"><a href="coureses-grid">Effective Machine Learning Mastery
                                    – Complete Guide</a></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trending-card">
                        <div class="card-image"><a href="coureses-grid"><img
                                    src="{% static 'images/home5/trending/4.png' %}" alt="card-image"></a></div>
                        <div class="price-tag">
                            <span class="dollars">$59</span>
                            <span class="cents">.99</span>
                        </div>
                        <div class="contents">
                            <div class="status">
                                <span class="students"><i class="fa-regular fa-user"></i>50 Students</span>
                                <span class="lessons"><i class="fa-regular fa-file-lines"></i>19 Lessons</span>
                            </div>
                            <span class="card-title"><a href="coureses-grid">Learn Essentials of User Interface
                                    Design in Figma</a></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trending-card">
                        <div class="card-image"><a href="coureses-grid"><img
                                    src="{% static 'images/home5/trending/5.png' %}" alt="card-image"></a></div>
                        <div class="price-tag">
                            <span class="dollars">$59</span>
                            <span class="cents">.99</span>
                        </div>
                        <div class="contents">
                            <div class="status">
                                <span class="students"><i class="fa-regular fa-user"></i>50 Students</span>
                                <span class="lessons"><i class="fa-regular fa-file-lines"></i>19 Lessons</span>
                            </div>
                            <span class="card-title"><a href="coureses-grid">Consulting Approach to Problem
                                    Solving Working</a></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trending-card">
                        <div class="card-image"><a href="coureses-grid"><img
                                    src="{% static 'images/home5/trending/6.png' %}" alt="card-image"></a></div>
                        <div class="price-tag">
                            <span class="dollars">$59</span>
                            <span class="cents">.99</span>
                        </div>
                        <div class="contents">
                            <div class="status">
                                <span class="students"><i class="fa-regular fa-user"></i>50 Students</span>
                                <span class="lessons"><i class="fa-regular fa-file-lines"></i>19 Lessons</span>
                            </div>
                            <span class="card-title"> <a href="coureses-grid">Successful Negotiation: Master -
                                    Your Negotiating Skills</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-area">
            <button class="all-course-btn"><a href="coureses-list">Visit all courses </a><i
                    class="fa-solid fa-arrow-right-long"></i></button>
        </div>
    </div>
</div>
<!--=================  Trending End Here  =================-->


<!--=================  Instructor Start Here  =================-->
<div class="instructor-section home-five pb---120">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-3">
                <div class="left-side instructor-side">
                    <div class="instructor-dp"><img class="instructor-image-1"
                            src="{% static 'images/home5/instructor/1.png' %}" alt="instructor-dp"></div>
                    <div class="instructor-dp"><img class="instructor-image-2"
                            src="{% static 'images/home5/instructor/2.png' %}" alt="instructor-dp"></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="contents">
                    <div class="section-title-area home-five text-center">
                        <div class="section-pretitle">STUDY WITH YOUR FAVORITE INSTRUCTORS</div>
                        <div class="section-title">We Make You Better Than You.
                        </div>
                    </div>
                    <p class="text-center">Ex adipisicing adipiscing, nemo urna ducimus asperiores, doloribus natus,
                        earum non eaque
                        officiis!Quae accusamus accumsan, qui
                        gnis distinctio uccumsan djola.</p>
                    <button class="free-lesson-btn"><a href="coureses-single">Get free lesson <i
                                class="fa-solid fa-arrow-right-long"></i></a></button>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="right-side instructor-side">
                    <div class="instructor-dp"><img class="instructor-image-3"
                            src="{% static 'images/home5/instructor/3.png' %}" alt="instructor-dp"></div>
                    <div class="instructor-dp"><img class="instructor-image-4"
                            src="{% static 'images/home5/instructor/4.png' %}" alt="instructor-dp"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================  testimonial End Here  =================-->

<!--=================  Testimonials Start Here  =================-->
<div class="testimonials-section home-five pt---120 pb---120">
    <div class="container">
        <div class="section-title-area home-five text-center mb---70">
            <div class="section-pretitle">TELL OUR STUDENTS SOME GREAT WORDS</div>
            <div class="section-title">Testimonial
            </div>
        </div>
        <div class="swiper testimonialsSlider-5">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonials-card">
                        <div class="quote-image"><img src="{% static 'images/home5/quote.png' %}" alt="quote-image">
                        </div>
                        <div class="contents">
                            <div class="identity">
                                <span class="name">Wisdom Tettey</span>
                                <span class="status">IT Professionals</span>
                            </div>
                            <p>The right mentoring relationship can be a powerful tool for professional growth. Bark
                                up the right tree. Mollitia luctus consectetuer? Tortor modi, perspiciatis! Gravida
                                quasi ullamcorper vitae molestiae, potenti tempore unde sunt. Natoque! Curae porta
                                dolor iusto magn am phasellus ultricies perferendis aoleb.</p>
                            <div class="testimonials-rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star blank-star"></i>
                            </div>
                        </div>
                        <div class="card-image"><img src="{% static 'images/home5/testimonials-dp.png' %}"
                                alt="card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials-slider-navigation">
            <div class="testimonials-slider-btn testimonials-slider-prev-btn"><i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="testimonials-slider-btn testimonials-slider-next-btn"><i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>
<!--=================  Testimonials End Here  =================-->


<!--=================  Blog Start Here  =================-->
<div class="blog-section home-five pt---120 pb---120">
    <div class="container">
        <div class="blog-top-area">
            <div class="section-title-area home-five mb---70">
                <div class="section-pretitle">LEARN ABOUT eCHOOLING NEWS & BLOG</div>
                <div class="section-title">Latest News & Blog
                </div>
            </div>
            <div class="blog-slider-navigation">
                <div class="blog-slider-btn blog-slider-prev-btn"><i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="blog-slider-btn blog-slider-next-btn"><i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </div>
        <div class="swiper blogSlider-5">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="blog-card">
                        <div class="card-image"><a href="coureses-grid"><img
                                    src="{% static 'images/home5/blog/1.png' %}" alt="card-image"></a></div>
                        <div class="time-tag">
                            <span class="day">10</span>
                            <span class="month">FEB</span>
                        </div>
                        <div class="contents">
                            <div class="author"><i class="fa-regular fa-user"></i>By Author James</div>
                            <span class="card-title"><a href="coureses-grid">How to be Victorious: Make A
                                    Change Perspective For Victory</a></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="blog-card">
                        <div class="card-image"><a href="coureses-grid"><img
                                    src="{% static 'images/home5/blog/2.png' %}" alt="card-image"></a></div>
                        <div class="time-tag">
                            <span class="day">10</span>
                            <span class="month">FEB</span>
                        </div>
                        <div class="contents">
                            <div class="author"><i class="fa-regular fa-user"></i>By Author James</div>
                            <span class="card-title"><a href="coureses-grid">Available Programming Techniques
                                    for Everyone Python</a></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="blog-card">
                        <div class="card-image"><a href="coureses-grid"><img
                                    src="{% static 'images/home5/blog/3.png' %}" alt="card-image"></a></div>
                        <div class="time-tag">
                            <span class="day">10</span>
                            <span class="month">FEB</span>
                        </div>
                        <div class="contents">
                            <div class="author"><i class="fa-regular fa-user"></i>By Author James</div>
                            <span class="card-title"><a href="coureses-grid">Effective Machine Learning Mastery
                                    – Complete Guide</a></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="blog-card">
                        <div class="card-image"><a href="coureses-grid"><img
                                    src="{% static 'images/home5/blog/4.png' %}" alt="card-image"></a></div>
                        <div class="time-tag">
                            <span class="day">10</span>
                            <span class="month">FEB</span>
                        </div>
                        <div class="contents">
                            <div class="author"><i class="fa-regular fa-user"></i>By Author James</div>
                            <span class="card-title"><a href="coureses-grid">Learn Essentials of User Interface
                                    Design in Figma</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================  Blog End Here  =================-->

{% endblock content %}

<!-- start footer -->
{% block footer %}
{% include "partial/footer-four.html" %}
{% endblock footer %}
<!-- end footer -->