{% extends "partial/base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">

{% endblock extra_css %}

<!-- start navbar -->
{% block navbar %}
{% include "partial/nav-seven.html" %}
{% endblock navbar %}
<!-- end navbar -->

{% block content %}
<!--================= Slider Section Start Here =================-->
<div class="react-slider-part react-slider-part-six">
    <div class="home-sliders home7 owl-carousel">
        <div class="single-slide">
            <div class="container">
                <div class="row align-items-center react-slider-row-seven">
                    <div class="col-xl-4">
                        <div class="slider-content">
                            <div class="content-part">
                                <h2 class="slider-title">
                                    We Make Distance Learning Easy.
                                </h2>
                                <div class="slider-btn">
                                    <button class="home-seven-btn"><a href="about">View
                                            Courses</a></button>
                                </div>
                                <div class="event__video-btn--play event__video-btn--play-six">
                                    <a href="https://www.youtube.com/watch?v=e5Hc2B50Z7c"
                                        class="event__video-btn--play-btn event__video-btn--play-btn-six custom-popup">
                                        <img class="video-icon" src="{% static 'images/Home7/video-icon.svg' %}"
                                            alt="video-icon">
                                        <em>Watch Videos</em>
                                    </a>
                                </div>
                            </div>
                            <div class="slide-info">01/03</div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="slider-hero">
                            <div class="hero-picture"><img src="{% static 'images/Home7/banner-bg.jpg' %}"
                                    alt="hero-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation-spacer"></div>
        </div>
        <div class="single-slide">
            <div class="container">
                <div class="row align-items-center react-slider-row-seven">
                    <div class="col-xl-4">
                        <div class="slider-content">
                            <div class="content-part">
                                <h2 class="slider-title">
                                    We Make Distance Learning Easy.
                                </h2>
                                <div class="slider-btn">
                                    <button class="home-seven-btn"><a href="about">View
                                            Courses</a></button>
                                </div>
                                <div class="event__video-btn--play event__video-btn--play-six">
                                    <a href="https://www.youtube.com/watch?v=e5Hc2B50Z7c"
                                        class="event__video-btn--play-btn event__video-btn--play-btn-six custom-popup">
                                        <img class="video-icon" src="{% static 'images/Home7/video-icon.svg' %}"
                                            alt="video-icon">
                                        <em>Watch Videos</em>
                                    </a>
                                </div>
                            </div>
                            <div class="slide-info">01/03</div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="slider-hero">
                            <div class="hero-picture"><img src="{% static 'images/Home7/banner-bg.jpg' %}"
                                    alt="hero-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation-spacer"></div>
        </div>
    </div>
</div>
<!--================= Slider Section End Here =================-->


<!--================= About Section Start Here =================-->
<div class="about-section-seven pb---120">
    <div class="container">
        <div class="section-title-area-seven text-center">
            <div class="section-title">Why Choose Us
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="about-card">
                    <div class="card-icon"><img src="{% static 'images/Home7/about/1.png' %}" alt="card-icon"></div>
                    <div class="content">
                        <div class="card-title">Browse Our Courses</div>
                        <p>Totam pharetra erat quasi quos expedita lectus, ratione, ullamcorper adipisci
                            eveniet lueram spum blease foleo consectetur!</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-card">
                    <div class="card-icon"><img src="{% static 'images/Home7/about/2.png' %}" alt="card-icon"></div>
                    <div class="content">
                        <div class="card-title">Boost your Career</div>
                        <p>Totam pharetra erat quasi quos expedita lectus, ratione, ullamcorper adipisci
                            eveniet lueram spum blease foleo consectetur!</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-card">
                    <div class="card-icon"><img src="{% static 'images/Home7/about/3.png' %}" alt="card-icon"></div>
                    <div class="content">
                        <div class="card-title">Distance Education</div>
                        <p>Totam pharetra erat quasi quos expedita lectus, ratione, ullamcorper adipisci
                            eveniet lueram spum blease foleo consectetur!</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-card">
                    <div class="card-icon"><img src="{% static 'images/Home7/about/4.png' %}" alt="card-icon"></div>
                    <div class="content">
                        <div class="card-title">Funding your Studies</div>
                        <p>Totam pharetra erat quasi quos expedita lectus, ratione, ullamcorper adipisci
                            eveniet lueram spum blease foleo consectetur!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================= About Section End Here =================-->



<!--================= QNA Section Start Here =================-->
<div class="qna-section-seven pb---120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-12">
                <div class="qna-picture"><img src="{% static 'images/Home7/qna/1.png' %}" alt="qna-picture"></div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="contents">
                    <div class="section-title-area-seven">
                        <div class="section-pretitle">Learn more about echooling
                        </div>
                        <div class="section-title">Frequently asked questions
                        </div>
                    </div>
                    <div class="qna-dropdown">
                        <div class="qna-dropdown-item show">
                            <div class="question">
                                <div class="dropdown-icon"></div>
                                <div class="question-title">When are the admissions open?</div>
                            </div>
                            <div class="answer">
                                <p>Education encompasses both the teaching and learning of knowledge, proper
                                    conduct, and technical competency.</p>
                            </div>
                        </div>
                        <div class="qna-dropdown-item">
                            <div class="question">
                                <div class="dropdown-icon"></div>
                                <div class="question-title">When and where I can appear for exams?</div>
                            </div>
                            <div class="answer">
                                <p>Education encompasses both the teaching and learning of knowledge, proper
                                    conduct, and technical competency.</p>
                            </div>
                        </div>
                        <div class="qna-dropdown-item">
                            <div class="question">
                                <div class="dropdown-icon"></div>
                                <div class="question-title">Are symbiosis centers for distance learning
                                    courses approved?</div>
                            </div>
                            <div class="answer">
                                <p>Education encompasses both the teaching and learning of knowledge, proper
                                    conduct, and technical competency.</p>
                            </div>
                        </div>
                        <div class="qna-dropdown-item">
                            <div class="question">
                                <div class="dropdown-icon"></div>
                                <div class="question-title">Are symbiosis centers for distance learning
                                    courses approved?</div>
                            </div>
                            <div class="answer">
                                <p>Education encompasses both the teaching and learning of knowledge, proper
                                    conduct, and technical competency.</p>
                            </div>
                        </div>
                    </div>
                    <button class="home-seven-btn"><a href="about">View
                            Courses</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================= QNA Section End Here =================-->

<!--================= Portfolio Section Start Here =================-->

<div class="courses-section-seven pt---120 pb---120 section-bg">
    <div class="container">
        <div class="section-title-area-seven text-center mb---50">
            <div class="section-title">Popular Online Courses
            </div>
        </div>
        <div class="filters filter-button-group">
            <ul class="filter-group">
                <li class="active" data-filter=".uxdesign">UX Design</li>
                <li data-filter=".uidesign">UI Designr</li>
                <li data-filter=".musicNfilm">Music & Film</li>
                <li data-filter=".development">Development</li>
                <li data-filter=".animation">Animation</li>
            </ul>
        </div>
        <div class="content grid">
            <div class="single-content animation uxdesign musicNfilm grid-item">
                <div class="courses-card">
                    <div class="card-image"><img class="p2" src="{% static 'images/Home7/courses/1.png' %}"></div>
                    <div class="card-tag">UX Design</div>
                    <div class="card-contents">
                        <div class="card-value d-flex justify-content-between">
                            <div class="courses-rating-seven">
                                <div class="star">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star blank-star"></i>
                                    <span>4.0</span>
                                </div>
                            </div>
                            <div class="price">$100</div>
                        </div>
                        <div class="card-title"><a href="coureses-single">The most complete design
                                thinking course on the market.</a></div>
                    </div>
                </div>
            </div>
            <div class="single-content animation uidesign uxdesign grid-item">
                <div class="courses-card">
                    <div class="card-image"><img class="p2" src="{% static 'images/Home7/courses/2.png' %}"></div>
                    <div class="card-tag">UX Design</div>
                    <div class="card-contents">
                        <div class="card-value d-flex justify-content-between">
                            <div class="courses-rating-seven">
                                <div class="star">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star blank-star"></i>
                                    <span>4.0</span>
                                </div>
                            </div>
                            <div class="price">$100</div>
                        </div>
                        <div class="card-title"><a href="coureses-single">A problem well stated is a
                                problem half solved.</a></div>
                    </div>
                </div>
            </div>
            <div class="single-content development webdesign uxdesign grid-item">
                <div class="courses-card">
                    <div class="card-image"><img class="p2" src="{% static 'images/Home7/courses/3.png' %}"></div>
                    <div class="card-tag">UX Design</div>
                    <div class="card-contents">
                        <div class="card-value d-flex justify-content-between">
                            <div class="courses-rating-seven">
                                <div class="star">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star blank-star"></i>
                                    <span>4.0</span>
                                </div>
                            </div>
                            <div class="price">$100</div>
                        </div>
                        <div class="card-title"><a href="coureses-single">Let music flow in your heart
                                and enrich your soul.</a></div>
                    </div>
                </div>
            </div>
            <div class="single-content musicNfilm uidesign uxdesign grid-item">
                <div class="courses-card">
                    <div class="card-image"><img class="p2" src="{% static 'images/Home7/courses/4.png' %}"></div>
                    <div class="card-tag">UX Design</div>
                    <div class="card-contents">
                        <div class="card-value d-flex justify-content-between">
                            <div class="courses-rating-seven">
                                <div class="star">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star blank-star"></i>
                                    <span>4.0</span>
                                </div>
                            </div>
                            <div class="price">$100</div>
                        </div>
                        <div class="card-title"><a href="coureses-single">React - the complete guide
                                (incl Hooks, React Router, Redux)</a></div>
                    </div>
                </div>
            </div>
            <div class="single-content musicNfilm uxdesign grid-item">
                <div class="courses-card">
                    <div class="card-image"><img class="p2" src="{% static 'images/Home7/courses/5.png' %}"></div>
                    <div class="card-tag">UX Design</div>
                    <div class="card-contents">
                        <div class="card-value d-flex justify-content-between">
                            <div class="courses-rating-seven">
                                <div class="star">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star blank-star"></i>
                                    <span>4.0</span>
                                </div>
                            </div>
                            <div class="price">$100</div>
                        </div>
                        <div class="card-title"><a href="coureses-single">Python compile, run and ship
                                your pseudo-code.</a></div>
                    </div>
                </div>
            </div>
            <div class="single-content development webdesign uxdesign grid-item">
                <div class="courses-card">
                    <div class="card-image"><img class="p2" src="{% static 'images/Home7/courses/2.png' %}"></div>
                    <div class="card-tag">UX Design</div>
                    <div class="card-contents">
                        <div class="card-value d-flex justify-content-between">
                            <div class="courses-rating-seven">
                                <div class="star">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star blank-star"></i>
                                    <span>4.0</span>
                                </div>
                            </div>
                            <div class="price">$100</div>
                        </div>
                        <div class="card-title"><a href="coureses-single">Certified JavaScript with
                                free crash
                                project course.</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--================= Portfolio Section End Here =================-->


<!--================= Counter Section Start Here =================-->
<div class="counter-section-seven pt---120">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-3 col-md-6 col-sm-6">
                <div class="counter-item">
                    <div class="count"><span class="counter">19</span><span>M+</span></div>
                    <span class="counter-title">Finished Sessions</span>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6">
                <div class="counter-item">
                    <div class="count"><span class="counter">309</span><span>+</span></div>
                    <span class="counter-title">Expert Instructors</span>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6">
                <div class="counter-item">
                    <div class="count"><span class="counter">1615</span></div>
                    <span class="counter-title">Tota Courses</span>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6">
                <div class="counter-item">
                    <div class="count"><span class="counter">100</span><span>%</span></div>
                    <span class="counter-title">Satisfaction Rate</span>
                </div>
            </div>
        </div>
    </div>

</div>
<!--================= Counter Section End Here =================-->

<!--================= Overview Section Start Here =================-->
<div class="overview-section-seven pt---120 pb---120">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-6">
                <div class="contents">
                    <div class="section-title-area-seven">
                        <div class="section-pretitle">Search for new things
                        </div>
                        <div class="section-title">Build Your Skills,
                            Anytime and Anywhere
                        </div>
                        <p>Donec repellat. Dis provident pariatur porttitor quidem quos lorem, omnis
                            pellentesque quod! Dictumst faucibus semper ab esse purus? Quam eges
                            tas proident veritatis, illo arcu ab magna ullam asperiores nulla ipsam habitant
                            elit error, minus consequat sapiente, mollitia turpis ut.</p>
                        <button class="home-seven-btn"><a href="about">Get Free Guide</a></button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="overview-pictures">
                    <div class="image-row">
                        <div class="image-item"><img src="{% static 'images/Home7/overview/1.png' %}" alt=""></div>
                        <div class="image-item"><img src="{% static 'images/Home7/overview/2.png' %}" alt=""></div>
                        <div class="image-item"><img src="{% static 'images/Home7/overview/3.png' %}" alt=""></div>
                        <div class="image-item"><img src="{% static 'images/Home7/overview/4.png' %}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--================= Overview Section End Here =================-->

<!--================= Testimonials Section Start Here ================= -->
<div class="testimonials-section-six home-seven testimonials-style1 section-bg pt---120 pb---120">
    <div class="container">
        <div class="section-title-area-seven text-center mb---80">
            <div class="section-title">Testimonial
            </div>
        </div>
        <div class="testimonials-section-inner">
            <div class="swiper testimonialsSlider6">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonials-card">
                            <div class="profile">
                                <div class="dp"><img src="{% static 'images/home4/testimonials/1.png' %}"
                                        alt="profile-dp">
                                </div>
                                <div class="identity">
                                    <div class="name">Adam Levine</div>
                                    <div class="status">Student</div>
                                </div>
                            </div>
                            <div class="contents">
                                <p>Quo nihil, cumque nisl quibusdam.
                                    Bccaecati asperiores. Sit reiciendis laudblode.</p>
                                <div class="testimonials-rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star blank-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonials-card">
                            <div class="profile">
                                <div class="dp"><img src="{% static 'images/home4/testimonials/2.png' %}"
                                        alt="profile-card-dp">
                                </div>
                                <div class="identity">
                                    <div class="name">Galileo Galilei</div>
                                    <div class="status">Student</div>
                                </div>
                            </div>
                            <div class="contents">
                                <p>Quo nihil, cumque nisl quibusdam.
                                    Bccaecati asperiores. Sit reiciendis laudblode.</p>
                                <div class="testimonials-rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star blank-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonials-card">
                            <div class="profile">
                                <div class="dp"><img src="{% static 'images/home4/testimonials/3.png' %}"
                                        alt="profile-card-dp">
                                </div>
                                <div class="identity">
                                    <div class="name">Johnny depp</div>
                                    <div class="status">Student</div>
                                </div>
                            </div>
                            <div class="contents">
                                <p>Quo nihil, cumque nisl quibusdam.
                                    Bccaecati asperiores. Sit reiciendis laudblode.</p>
                                <div class="testimonials-rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star blank-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials-slider-navigation">
        <div class="testimonials-slider-btn testimonials-slider-prev-btn"><i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="testimonials-slider-btn testimonials-slider-next-btn"><i class="fa-solid fa-angle-right"></i>
        </div>
    </div>
</div>
<!--================= Testimonials Section End Here ================= -->


<!--================= Blog Section Start Here ================= -->
<div class="blog-section-seven pt---100 pb---100">
    <div class="container">
        <div class="section-title-area-seven text-center mb---80">
            <div class="section-title">Our News and Blogs
            </div>
        </div>
        <div class="swiper swiperCommon">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="blog-card">
                        <div class="blog-picture"><a href="blog-details"><img
                                    src="{% static 'images/home7/blog/1.png' %}" alt="blog-picture"></a></div>
                        <div class="tag">Campaigns</div>
                        <div class="blog-date">29 January, 2022</div>
                        <div class="blog-title"><a href="blog-details">Fostering future Schools & Social infrom
                                Innovation.</a></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="blog-card">
                        <div class="blog-picture"><a href="blog-details"><img
                                    src="{% static 'images/home7/blog/2.png' %}" alt="blog-picture"></a></div>
                        <div class="tag">Campaigns</div>
                        <div class="blog-date">29 January, 2022</div>
                        <div class="blog-title"><a href="blog-details">The Surprising Reason College Tuition it’s
                                Must be Needed.</a></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="blog-card">
                        <div class="blog-picture"><a href="blog-details"><img
                                    src="{% static 'images/home7/blog/3.png' %}" alt="blog-picture"></a></div>
                        <div class="tag">Campaigns</div>
                        <div class="blog-date">29 January, 2022</div>
                        <div class="blog-title"><a href="blog-details">Our Echooling Compares to the Cost of other
                                Colleges.</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================= Blog Section End Here ================= -->
{% endblock content %}
{% block footer %}
{% include "partial/footer-three.html" %}
{% endblock footer %}
<!-- end footer -->